<div class="page-header" id="photos-page-header" ng-controller="PhotoCtrl">
    <h1>Photos</h1>
</div>

<div modal="openPhotosForm" close="closePhotoForm()" options="opts">
    <div class="modal-header">
        <h3>Upload photos</h3>
    </div>
    <div class="modal-body">
        <iframe id="photos-upload" src="/templates/admin/upload-photos.html"></iframe>
    </div>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Filename</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="photo in photos" id="photo-{{photo.Id}}">
            <td><img src="http://localhost:8888/unsafe/150x150/http://localhost:8080/static/photos/{{photo.Filename}}"/></td>
            <td><a href="javascript:void(0)">{{photo.Filename}}</a></td>
            <td>
                <a class="btn btn-danger btn-small" href="javascript:void(0)" ng-click="deletePhoto(photo.Id)">Delete</a>
            </td>
        </tr>
        <tr>
            <td colspan="3"><a class="btn btn-primary" href="javascript:void(0)" ng-click="showPhotosForm()">Upload Photos</a></td>
        </tr>
    </tbody>
</table>
